<div class="p-8">
  <div class="text-3xl font-bold mb-[1em]">
    <!-- <div class="text-center ml-auto"><hr class="bg-black w-16" /></div> -->
    <div class="h2 font-bold text-center text-5xl text-white">
      <!-- <div class="text-center w-10"><hr class="bg-slate-950" /></div> -->
      Careers
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
    <div class="text-center bg-white py-10">
      <div class="mb-3">
        <img class="h-20 mx-auto" src="../../assets/image/Meet Us.png" />
      </div>
      <div class="font-bold text-lg mb-1">Meet Us</div>
      <span class="mb-1 block">Book a virtual interview time slot </span>
      <div>
        <button
          class="bg-black hover:bg-black-500 border-2 border-white-500 text-white font-bold py-2 px-4 mr-3 mb- rounded-full"
        >
          Apply
        </button>
      </div>
    </div>
    <div class="text-center bg-white py-10">
      <div class="mb-3">
        <img class="h-20 mx-auto" src="../../assets/image/Core Values.png" />
      </div>
      <div class="font-bold text-lg">Core Values</div>
      <div class="mb-1 block">
        If our values match yours we will love to work with you.
      </div>
      <div>
        <button
          class="bg-black hover:bg-black-500 border-2 border-white-500 text-white font-bold py-2 px-4 mr-3 mb- rounded-full"
        >
          Read More
        </button>
      </div>
    </div>
    <div class="bg-white py-10">
      <div class="mb-3">
        <img class="h-20 mx-auto" src="../../assets/image/work culture.png" />
      </div>
      <div class="font-bold text-lg text-center">Work Culture</div>
      <div class="ml-[25%] mb-1">
        <!-- <p>Flexible work schedule and hours.</p> -->
        <ul
          class="space-y-1 text-black-500 list-disc list-inside dark:text-black-400 float-left"
        >
          <li>Interactive Team Environment</li>
          <li>Flexible Work Schedule</li>
          <li>Long Term Growth Opportunities</li>
        </ul>
      </div>
      <div class="text-center">
        <button
          class="bg-black hover:bg-black-500 border-2 border-white-500 text-white font-bold py-2 px-4 mr-3 mb- rounded-full"
        >
          Apply
        </button>
      </div>
    </div>
    <div class="text-center bg-white py-10">
      <div class="mb-3">
        <img class="h-20 mx-auto" src="../../assets/image/growth with us.png" />
      </div>
      <div class="font-bold text-lg">Growth With Us</div>
      <div>20+ Industries 5 Continents</div>
    </div>
  </div>
</div>
