<div class="p-8">
  <div class="text-3xl font-bold p-10">
    <!-- <div class="text-center ml-auto"><hr class="bg-black w-16" /></div> -->
    <div class="text-center text-white">
      <!-- <div class="text-center w-10"><hr class="bg-slate-950" /></div> -->
      Careers
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
    <div class="text-center bg-white py-10">
      <div class="mb-3"><i class="text-7xl uil uil-users-alt"></i></div>
      <div class="font-bold text-lg mb-1">Meet us</div>
      <div>
        <button
          class="bg-black hover:bg-black-500 border-2 border-white-500 text-white font-bold py-2 px-4 mr-3 mb- rounded-full"
        >
          Apply
        </button>
      </div>
    </div>
    <div class="text-center bg-white py-10">
      <div class="mb-3"><i class="text-7xl uil uil-map"></i></div>
      <div class="font-bold text-lg">Core value</div>
      <div class="text-lg">
        If our values yours we will love to work with you.
      </div>
    </div>
    <div class="bg-white py-10">
      <div class="mb-3 text-center">
        <i class="text-7xl uil uil-list-ul"></i>
      </div>
      <div class="font-bold text-lg text-center">Open positions</div>
      <div class="text-center">Flexible work schedule and hours.</div>
      <ul class="text-center">
        <li class="list-disc">Interactive work culture</li>
        <li class="list-disc">Endless Possibilities</li>
      </ul>
    </div>
    <div class="text-center bg-white py-10">
      <div class="mb-3"><i class="text-7xl uil uil-question-circle"></i></div>
      <div class="font-bold text-lg">Recruitment FAQs</div>
      <div>20+ Industires. 5 Continents. potential</div>
    </div>
  </div>
</div>
