<div class="p-8 bg-black">
  <div class="text-3xl font-bold p-10">
    <!-- <div class="text-center ml-auto"><hr class="bg-black w-16" /></div> -->
    <div class="text-center text-white">
      <!-- <div class="text-center w-10"><hr class="bg-slate-950" /></div> -->
      Work and be yourself!
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
    <div class="text-center bg-white py-10">
      <div class="mb-3"><i class="text-7xl uil uil-users-alt"></i></div>
      <div class="font-bold text-lg">Meet us</div>
      <div>Lorem ipsum dolor sit.</div>
    </div>
    <div class="text-center bg-white py-10">
      <div class="mb-3"><i class="text-7xl uil uil-map"></i></div>
      <div class="font-bold text-lg">Your possibilies</div>
      <div>Lorem ipsum dolor sit.</div>
    </div>
    <div class="text-center bg-white py-10">
      <div class="mb-3"><i class="text-7xl uil uil-list-ul"></i></div>
      <div class="font-bold text-lg">Open positions</div>
      <div>Lorem ipsum dolor sit.</div>
    </div>
    <div class="text-center bg-white py-10">
      <div class="mb-3"><i class="text-7xl uil uil-question-circle"></i></div>
      <div class="font-bold text-lg">Recruitment FAQs</div>
      <div>Lorem ipsum dolor sit.</div>
    </div>
  </div>
</div>
