<div class="flex items-center mt-4 mr-2 ml-2 mb-4">
  <div class=" ">
    <img
      src="../../../assets/image/New-york-1.png"
      alt="New York 1"
      class="h-[400px] w-[700px]"
    />
  </div>
  <div class="">
    <img
      src="../../../assets/image/New-york-2.png"
      alt="New York 2"
      class="h-[400px] w-[700px]"
    />
  </div>
  <div class="">
    <img
      src="../../../assets/image/New-york-3.png"
      alt="New York 3"
      class="h-[400px] w-[700px]"
    />
  </div>
</div>
