<div class="min-h-screen text-gray-400">
    <section class="mx-[15%] pt-8 pb-20">
        <h3 class="text-5xl font-bold py-6 text-gray-200">What we offer</h3>
        <p class="text-lg max-w-[60%]">
            Empowering Your Online Presence with Tailored Solutions
        </p>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 gap-6 mt-10">
            <div class="border border-1 p-6 rounded-tr-3xl rounded-bl-3xl shadow-md shadow-white">
                <h2 class="text-3xl lg:text-2xl xl:text-3xl font-semibold text-gray-300">Collaboration Focus</h2>
                <p class="text-left pt-4">
                    Forming long term partnerships with talented and motivated leaders, visionaries, entrepreneurs, and
                    ground breakers.
                </p>
            </div>
            <div class="border border-1 p-6 rounded-tr-3xl rounded-bl-3xl shadow-md shadow-white">
                <h2 class="text-3xl lg:text-2xl xl:text-3xl font-semibold text-gray-300">Inventive Resourcefulness</h2>
                <p class="text-left pt-4">
                    Our approach is flexible and thoughtful, allowing us to create tailored solutions for our partners.
                </p>
            </div>
            <div class="border border-1 p-6 rounded-tr-3xl rounded-bl-3xl shadow-md shadow-white">
                <h2 class="text-3xl lg:text-2xl xl:text-3xl font-semibold text-gray-300">Backing</h2>
                <p class="text-left pt-4">
                    Empowering rapid expansion through the provision of diverse and key resources.
                </p>
            </div>
            <div class="border border-1 p-6 rounded-tr-3xl rounded-bl-3xl shadow-md shadow-white min-h-[232px]">
                <h2 class="text-3xl lg:text-2xl xl:text-3xl font-semibold text-gray-300">Resource Pooling</h2>
                <p class="text-left pt-4">
                    Integrating support facilities to achieve a reduced burn rate.
                </p>
            </div>
            <div class="border border-1 p-6 rounded-tr-3xl rounded-bl-3xl shadow-md shadow-white min-h-[232px]">
                <h2 class="text-3xl lg:text-2xl xl:text-3xl font-semibold text-gray-300">Data Merging</h2>
                <p class="text-left pt-4">
                    We integrate existing metrics and data sets to boost collaboration.
                </p>
            </div>
            <div class="border border-1 p-6 rounded-tr-3xl rounded-bl-3xl shadow-md shadow-white min-h-[232px]">
                <h2 class="text-3xl lg:text-2xl xl:text-3xl font-semibold text-gray-300">Logistics</h2>
                <p class="text-left pt-4">
                    Easing operations to existing channels.
                </p>
            </div>
        </div>
    </section>
    <section class="pb-8">
        <div class="bg-gray-200 py-24 sm:py-32">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto max-w-2xl lg:text-center">
                    <h2 class="text-base font-semibold leading-7 text-gray-700">#InvestmentCriteria</h2>
                    <p class="mt-2 text-5xl font-bold tracking-tight text-gray-900">Investment Criteria</p>
                    <p class="mt-6 text-lg leading-8 text-gray-600">Key Investment Criteria: Identifying Promising
                        Ventures with Strong Leadership, Innovative Solutions, and Sustainable Market Advantage</p>
                </div>
                <app-chart></app-chart>
            </div>
        </div>

    </section>
    <section class="mx-[15%] pb-8 py-20">
        <div class="container">
            <h3 class="text-5xl font-bold py-6 text-gray-200">Screening and Evaluation</h3>
            <p class="text-lg max-w-[60%] pb-10">
                Enhancing Efficiency: Strategies for Screening and Evaluation
            </p>
            <ol class="relative border-s border-gray-200 dark:border-gray-700">
                <li class="mb-10 ms-6 ml-[40px]">
                    <span
                        class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                        </svg>
                    </span>
                    <h3 class="mb-1 text-xl font-semibold text-gray-300 dark:text-white">
                        WEB APPLICATION
                        <!-- <span
                            class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ms-3">
                            Latest
                        </span> -->
                    </h3>
                    <time
                        class="block mb-2 text-sm font-bold underline leading-none text-gray-400 dark:text-gray-500 italic">Stage
                        One</time>
                    <p
                        class="mb-4 text-base font-normal text-gray-400 dark:text-gray-400 animate__animated animate__slideInRight animate__faster">
                        The first step in entering
                        the Branch Karma funding process is our online application. This process includes filling out an
                        application with an overview of your company, including a summary of your financials. You’ll
                        also upload an investor PowerPoint presentation and any additional materials you feel are
                        relevant
                    </p>
                </li>
                <li class="mb-10 ms-6 ml-[40px]">
                    <span
                        class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                        </svg>
                    </span>
                    <h3 class="mb-1 text-xl font-semibold text-gray-300 dark:text-white">REVIEW</h3>
                    <time
                        class="block mb-2 text-sm font-bold underline leading-none text-gray-400 dark:text-gray-500 italic">Stage
                        Two</time>
                    <p
                        class="text-base font-normal text-gray-400 dark:text-gray-400 animate__animated animate__slideInRight animate__faster">
                        Branch Karma team members perform
                        an initial screening of the application to ensure it is within our scope of interest. If you
                        pass the initial review stage, you will be invited to present at an initial meeting.</p>
                </li>
                <li class="mb-10 ms-6 ml-[40px]">
                    <span
                        class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                        </svg>
                    </span>
                    <h3 class="mb-1 text-xl font-semibold text-gray-300 dark:text-white">INITIAL MEETING</h3>
                    <time
                        class="block mb-2 text-sm font-bold underline leading-none text-gray-400 dark:text-gray-500 italic">Stage
                        Three</time>
                    <p
                        class="text-base font-normal text-gray-400 dark:text-gray-400 animate__animated animate__slideInRight animate__fast">
                        Each meeting process varies, but
                        the general concept is an elevator pitch between 8 and 15 minutes, followed by Q&A. The
                        prescreen presentation is given to our small team of Branch Karma intake coordinators who have
                        expertise in your technology or market on a video call. The purpose of the initial meeting is to
                        determine if you are ready to present to the larger group, and give you constructive feedback to
                        improve your presentation.<br>
                        <br>Presentations are usually recorded so that members who are not present can participate later
                        online on our member-only meetings.
                    </p>
                </li>
                <li class="mb-10 ms-6 ml-[40px]">
                    <span
                        class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                        </svg>
                    </span>
                    <h3 class="mb-1 text-xl font-semibold text-gray-300 dark:text-white">MAIN MEETING</h3>
                    <time
                        class="block mb-2 text-sm font-bold underline leading-none text-gray-400 dark:text-gray-500 italic">Stage
                        Four</time>
                    <p
                        class="text-base font-normal text-gray-400 dark:text-gray-400 animate__animated animate__slideInRight animate__fast">
                        You’ll receive feedback if we feel
                        you are the right fit and scope for the projects we engage in. The meeting will be recorded and
                        you will be given additional questions and feedback. Once all questions and clarifications are
                        satisfied you will be invited to have a detailed meeting with our expert team to discuss how a
                        joint venture or collaboration can occur.</p>
                </li>
                <li class="mb-10 ms-6 ml-[40px]">
                    <span
                        class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                        </svg>
                    </span>
                    <h3 class="mb-1 text-xl font-semibold text-gray-300 dark:text-white">DUE DILIGENCE</h3>
                    <time
                        class="block mb-2 text-sm font-bold underline leading-none text-gray-400 dark:text-gray-500 italic">Stage
                        Five</time>
                    <p
                        class="text-base font-normal text-gray-400 dark:text-gray-400 animate__animated animate__slideInRight animate__delay-1s">
                        During this period we verify
                        representations by speaking with customers, reviewing agreements and patents, checking
                        references, backgrounds, etc. if the results are positive, the partnership moves forward to
                        funding.
                    </p>
                </li>
                <li class="mb-10 ms-6 ml-[40px]">
                    <span
                        class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                        </svg>
                    </span>
                    <h3 class="mb-1 text-xl font-semibold text-gray-300 dark:text-white">FUNDING</h3>
                    <time
                        class="block mb-2 text-sm font-bold underline leading-none text-gray-400 dark:text-gray-500 italic">Stage
                        Six</time>
                    <p
                        class="text-base font-normal text-gray-400 dark:text-gray-400 animate__animated animate__slideInRight animate__delay-2s">
                        The final stage of disbursement.
                        Once all metrics have been satisfied. Now we work towards expansion.
                    </p>
                </li>
            </ol>


        </div>
    </section>
</div>