<div class="min-h-screen text-white">
    <section class="mx-[15%] pb-8">
        <h3 class="text-5xl font-bold py-6">What we offer</h3>
        <p class="text-lg max-w-[60%]">
            Empowering Your Online Presence with Tailored Solutions
        </p>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 gap-6 mt-10">
            <div class="border border-1 p-6 rounded-tr-3xl rounded-bl-3xl shadow-md shadow-white">
                <h2 class="text-3xl lg:text-2xl xl:text-3xl font-semibold">Collaboration Focus</h2>
                <p class="text-left pt-4">
                    Forming long term partnerships with talented and motivated leaders, visionaries, entrepreneurs, and
                    ground breakers.
                </p>
            </div>
            <div class="border border-1 p-6 rounded-tr-3xl rounded-bl-3xl shadow-md shadow-white">
                <h2 class="text-3xl lg:text-2xl xl:text-3xl font-semibold">Inventive Resourcefulness</h2>
                <p class="text-left pt-4">
                    Our approach is flexible and thoughtful, allowing us to create tailored solutions for our partners.
                </p>
            </div>
            <div class="border border-1 p-6 rounded-tr-3xl rounded-bl-3xl shadow-md shadow-white">
                <h2 class="text-3xl lg:text-2xl xl:text-3xl font-semibold">Backing</h2>
                <p class="text-left pt-4">
                    Empowering rapid expansion through the provision of diverse and key resources.
                </p>
            </div>
            <div class="border border-1 p-6 rounded-tr-3xl rounded-bl-3xl shadow-md shadow-white">
                <h2 class="text-3xl lg:text-2xl xl:text-3xl font-semibold">Resource Pooling</h2>
                <p class="text-left pt-4">
                    Integrating support facilities to achieve a reduced burn rate.
                </p>
            </div>
            <div class="border border-1 p-6 rounded-tr-3xl rounded-bl-3xl shadow-md shadow-white">
                <h2 class="text-3xl lg:text-2xl xl:text-3xl font-semibold">Data Merging</h2>
                <p class="text-left pt-4">
                    We integrate existing metrics and data sets to boost collaboration.
                </p>
            </div>
            <div class="border border-1 p-6 rounded-tr-3xl rounded-bl-3xl shadow-md shadow-white">
                <h2 class="text-3xl lg:text-2xl xl:text-3xl font-semibold">Logistics</h2>
                <p class="text-left pt-4">
                    Easing operations to existing channels.
                </p>
            </div>
        </div>
    </section>
    <section class="mx-[15%] pb-8">
        <div class="container">
            <h1 class="text-5xl font-bold py-6">Investment Criteria</h1>
            <div>
                <app-chart></app-chart>
            </div>
        </div>
    </section>
</div>