<div class="flex flex-col">
  <div class="grid grid-cols-12 bg-black">
    <div class="col-span-4 ml-0 md:ml-12">
      <div class="ml-24 mt-[200px] relative">
        <div class="font-bold text-6xl mb-10">
          <span class="text-white text-center mb-10">Grow Your </span
          ><span class="text-white text-center">Company.</span>
        </div>
        <!-- <div class="text-lg font-semibold">
        <span
          >Our mission is to assist and support early-stage startups in
          progressing to the next phase of their entrepreneurial
          journey.</span
        >
      </div> -->
        <div class="mb-10">
          <span>
            <button
              class="bg-black-400 hover:bg-black-500 border-2 border-white-500 text-white font-bold py-2 px-4 mr-3 mb- rounded-full"
            >
              Contact Us
            </button>
          </span>
          <span>
            <button
              class="bg-black-400 hover:bg-black-500 border-2 border-white-500 text-white font-bold py-2 px-4 mr-3 mb- rounded-full"
            >
              Learn More
            </button>
          </span>
        </div>
        <!-- <span style="color: #ff8189" class="font-bold text-xl">Branch</span> -->
        <div class="absolute mb-10">
          <p class="text-base flex">
            <span class="text-white text-3xl space-mono">Branch </span>
            <span #typedText class="typed-text text-3xl space-mono"></span>
            <span #cursor class="">&nbsp;</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-span-8">
      <div class="hidden sm:block">
        <img class="" src="../../../assets//image/old.png" />
      </div>
    </div>
  </div>

  <!-- <div class="flex-grow flex md:mb-0 mb-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 mt-6 bg-black">
    <div class="p-10 md:p-44">
      <div class="font-bold text-5xl mb-5">
        <span class="text-white">We Grow </span
        ><span class="text-orange-400">Companies.</span>
      </div>
      <div class="text-lg font-semibold">
        <span
          >Our mission is to assist and support early-stage startups in
          progressing to the next phase of their entrepreneurial
          journey.</span
        >
      </div>
      <div class="my-3">
        <span>
          <button
            class="bg-orange-400 hover:bg-orange-500 text-white font-bold py-2 px-4 mr-3 rounded-full"
          >
            Contact us
          </button>
        </span>
        <span>
          <button
            class="bg-orange-400 hover:bg-orange-500 text-white font-bold py-2 px-4 rounded-full"
          >
            Learn more
          </button>
        </span>
      </div>

      <span class="container">
        <p class="text-base">
          <span class="text-white">Branch </span>
          <span #typedText class="typed-text"></span
          ><span #cursor class="cursor">&nbsp;</span>
        </p>
      </span>
    </div>
    <div class="hidden sm:block">
      <img class="h-[600px]" src="../../../assets//image/new_map.jpg" />
    </div>
  </div>
</div> -->

  <!-- <div class="mt-auto">
  <img
    style="height: 200px; width: 100%"
    src="../../../assets/image/banner-2143661_1280 (1).webp"
  />
</div> -->
</div>
