<div class="flex justify-between">
    <div class="p-4"></div>
    <div class="border border-1 rounded-full p-4 h-[260px] w-[260px] align-center">
        <div>
            <h2 class="text-xl font-semibold mb-2">Strong Management Team</h2>
            <p>Resourceful team with impeccable integrity.</p>
        </div>
    </div>
    <div class="border border-1 rounded-full p-4 h-[260px] w-[260px] align-center">
        <div>
            <h2 class="text-xl font-semibold mb-2">Innovative Technology</h2>
            <p>Solution to a compelling business problem.</p>
        </div>
    </div>
    <div class="border border-1 rounded-full p-4 h-[260px] w-[260px] align-center">
        <div>
            <h2 class="text-xl font-semibold mb-2">Identified Market Opportunity</h2>
            <p>Large market potential for the solution.</p>
        </div>
    </div>
    <div class="p-4"></div>
</div>
<div class="flex justify-between py-20">
    <div class="p-4"></div>
    <div class="border border-1 rounded-full p-4 h-[260px] w-[260px] align-center">
        <div>
            <h2 class="text-xl font-semibold mb-2">Defensible Business Model</h2>
            <p>Utilization of proprietary technology for competitive advantage.</p>
        </div>
    </div>
    <div class="rounded-[40px] p-4 h-40 w-40">

    </div>
    <div class="border border-1 rounded-full p-4 h-[260px] w-[260px] align-center">
        <div>
            <h2 class="text-xl font-semibold mb-2">Market Validation</h2>
            <p>Existing traction or validation in the market/niche.</p>
        </div>
    </div>
    <div class="p-4"></div>
</div>
<div class="flex justify-between">
    <div class="p-4"></div>
    <div class="border border-1 rounded-full p-4 h-[260px] w-[260px] align-center">
        <div>
            <h2 class="text-xl font-semibold mb-2">Future Funding Potential</h2>
            <p>Ability to attract investment for growth.</p>
        </div>
    </div>
    <div class="border border-1 rounded-full p-4 h-[260px] w-[260px] align-center">
        <div>
            <h2 class="text-xl font-semibold mb-2">Exit Potential</h2>
            <p>Credible potential for exit strategy.</p>
        </div>
    </div>
    <div class="border border-1 rounded-full p-4 h-[260px] w-[260px] align-center">
        <div>
            <h2 class="text-xl font-semibold mb-2">Competitive Advantage</h2>
            <p>Sustainable competitive edge in the market.</p>
        </div>
    </div>
    <div class="p-4"></div>
</div>