.proactivity {
  background-color: rgb(0, 170, 156);
}
.Rapid-expansion {
  background-color: rgb(255, 64, 104);
}
.collaborate {
  background-color: rgb(89, 33, 140);
}
.serve-a-purpose {
  background-color: rgb(245, 186, 0);
}
.change-live {
  background-color: rgb(255, 124, 0);
}
.Passionate-Obession {
  background-color: rgb(0, 170, 91);
}

.First-Princples {
  background-color: rgb(2, 73, 206);
}
.Adaptability {
  background-color: rgb(107, 3, 192);
}
.Leadership {
  background-color: rgb(201, 114, 7);
}
.core-values {
  margin: 3%;
}
.h2 {
  letter-spacing: 0;
  margin-bottom: 1em;
  text-transform: none;
  color: white;
}
