<div class="core-values">
  <hr
    class="mb-6"
    style="background-color: #54c8e8; padding: 1px; width: 150px"
  />
  <h2 class="h2 font-bold">Core values</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-1 mb-2">
    <div class="core-value font-bold text-center text-white p-4 md:p-10">
      <div class="text-3xl md:text-6xl mb-2 md:mb-5">CORE</div>
      <div class="text-3xl md:text-6xl">VALUE</div>
    </div>
    <div class="Rapid-expansion font-bold text-white p-4 md:p-10">
      <div class="text-xl md:text-3xl mb-2 md:mb-3">Rapid expansion</div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi,
        nostrum.
      </div>
      <div class="text-right text-3xl md:text-7xl">
        <i class="uil uil-telescope"></i>
      </div>
    </div>
    <div class="innovation font-bold text-white p-4 md:p-10">
      <div class="text-xl md:text-3xl mb-2 md:mb-3">Innovation</div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi,
        nostrum.
      </div>
      <div class="text-right text-3xl md:text-7xl">
        <i class="uil uil-puzzle-piece"></i>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-1">
    <div class="impact font-bold text-white p-4 md:p-10">
      <div class="text-xl md:text-3xl mb-2 md:mb-3">Impact</div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi,
        nostrum.
      </div>
      <div class="text-right text-3xl md:text-7xl">
        <i class="uil uil-raindrops"></i>
      </div>
    </div>
    <div class="team-work font-bold text-white p-4 md:p-10">
      <div class="text-xl md:text-3xl mb-2 md:mb-3">Team work</div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi,
        nostrum.
      </div>
      <div class="text-right text-3xl md:text-7xl">
        <i class="uil uil-hard-hat"></i>
      </div>
    </div>
    <div class="Inclusion font-bold text-white p-4 md:p-10">
      <div class="text-xl md:text-3xl mb-2 md:mb-3">Inclusion</div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi,
        nostrum.
      </div>
      <div class="text-right text-3xl md:text-7xl">
        <i class="uil uil-users-alt"></i>
      </div>
    </div>
  </div>
</div>
