<footer class="bg-black text-white">
  <link
    rel="stylesheet"
    href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
  />
  <div class="px-4 md:px-6 pt-6 md:pt-12">
    <div class="font-extrabold text-2xl md:text-4xl lg:text-5xl mb-4">
      <a href="https://branchkarma-web.vercel.app/" class="text-white"
        >BranchKarma</a
      >
    </div>
    <!-- Links section -->
    <div
      class="grid md:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-8 h-auto md:h-32"
    >
      <div class="text-left mb-4 md:mb-0">
        <ul class="list-none mb-2">
          <li>
            <a href="#!" class="text-white">Contact Us</a>
          </li>
          <li>
            <a href="#!" class="text-white">Careers</a>
          </li>
          <li>
            <a href="#!" class="text-white">Hiring: careers@branchkarma.com</a>
          </li>
          <li>
            <i class="uil uil-linkedin text-xl md:text-4xl"></i>
          </li>
        </ul>
      </div>
      <div class="text-left mb-4 md:mb-0">
        <ul class="list-none">
          <li>
            <a href="#!" class="text-white">News Update</a>
          </li>
          <li>
            <a href="#!" class="text-white">BranchKarma Trust</a>
          </li>
          <li>
            <a href="#!" class="text-white">Home</a>
          </li>
        </ul>
      </div>
      <div></div>
      <div class="md:flex md:justify-center md:space-x-8 md:mt-8">
        <!-- Search input and newsletter form -->
        <div class="mb-4 md:mb-0">
          <p class="text-lg md:text-xl font-semibold mb-2">Stay Up To Date</p>
          <div class="relative flex-auto">
            <i
              class="uil uil-envelope text-xl md:text-2xl absolute left-3 top-1/2 transform -translate-y-1/2 text-white"
            ></i>
            <input
              type="email"
              class="text-white text-center h-10 pl-10 pr-3 rounded-l border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-1 text-base font-normal leading-[1.6] outline-none focus:z-[3] focus:border-primary focus:text-white focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] dark:border-neutral-600 dark:text-neutral-200 dark:placeholder-text-neutral-200 dark:focus:border-primary"
              placeholder="Email"
              aria-label="Email"
              aria-describedby="button-addon3"
            />

            <button
              class="border-2 h-10 border-primary px-4 py-2 text-xs md:text-sm font-medium uppercase text-primary hover:bg-black hover:bg-opacity-5 focus:outline-none"
              type="button"
              id="button-addon3"
              data-te-ripple-init
            >
              Subscribe
            </button>
          </div>
        </div>
        <!-- Add more elements here if needed -->
      </div>
    </div>
    <!-- Add more columns here if needed -->
  </div>

  <!-- Copyright section -->
  <div class="bg-black text-left p-2 border-t-2">
    <div class="text-sm">
      Website Terms | Privacy Policy | Accessibility Statement | Do not sell my
      information
    </div>
    <div class="text-sm mt-2">
      © 2023 Copyright:
      <a class="text-white" href="https://branchkarma-web.vercel.app/"
        >BranchKarma</a
      >
    </div>
  </div>
</footer>
