<footer class="bg-neutral-900 text-center text-white">
  <div class="container px-6 pt-6">
    <!-- Name -->

    <!-- Links section -->
    <div class="grid md:grid-cols-3 lg:grid-cols-3">
      <div class="mb-6">
        <div class="font-extrabold text-3xl mb-7">BranchKarma</div>
        <ul class="mb-0 list-none">
          <li>
            <a href="#!" class="text-white"> General Phone: 1-800-888-8888</a>
          </li>
          <li>
            <a href="#!" class="text-white">Careers: 1-800-888-8888</a>
          </li>
          <li>
            <a href="#!" class="text-white">
              Career Team: Careers@BranchKarma.com</a
            >
          </li>
          <li>
            <a href="#!" class="text-white"> Linkedin</a>
          </li>
        </ul>
      </div>

      <div class="mb-6 mt-14 flex items-center justify-center md:justify-start">
        <ul class="mb-0 list-none">
          <li>
            <a href="#!" class="text-white">Email</a>
          </li>
          <li>
            <a href="#!" class="text-white">News </a>
          </li>
          <li>
            <a href="#!" class="text-white">Customer Care </a>
          </li>
          <li>
            <a href="#!" class="text-white">BranchKarma Trust</a>
          </li>
        </ul>
      </div>
      <div class="flex items-center">
        <!-- Search input and newsletter form -->
        <form action="" class="space-x-4">
          Get The Freshest BranchKarma News
          <input
            type="text"
            class="peer block w-48 rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] text-neutral-200 outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 dark:text-neutral-200 dark:placeholder:text-neutral-200"
            id="exampleFormControlInput1"
            placeholder="Email address"
          />
          <button
            type="submit"
            class="inline-block rounded border-2 border-neutral-50 px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
            data-te-ripple-init
            data-te-ripple-color="light"
          >
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- Copyright section -->
  <div class="p-4 text-center" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright:
    <a class="text-white" href="https://tailwind-elements.com/">BranchKarma</a>
  </div>
</footer>
