<footer class="bg-neutral-900 text-center text-white">
  <link
    rel="stylesheet"
    href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
  />
  <div class="px-6 pt-6">
    <div class="font-extrabold text-3xl mr-[1700px] mb-4">BranchKarma</div>
    <!-- Name -->
    <!-- Links section -->
    <div class="grid md:grid-cols-4 lg:grid-cols-4 gap-4 h-32">
      <div class="mr-36 text-left">
        <ul class="mb-0 list-none">
          <li>
            <a href="#!" class="text-white"> General Phone: 1-800-888-8888</a>
          </li>
          <li>
            <a href="#!" class="text-white">Careers: 1-800-888-8888</a>
          </li>
          <li>
            <a href="#!" class="text-white">
              Career Team: Careers@BranchKarma.com</a
            >
          </li>
          <li>
            <a href="#!" class="text-white"> Linkedin</a>
          </li>
        </ul>
      </div>
      <div class="flex items-center justify-center md:justify-start">
        <ul class="mb-8 list-none text-left">
          <li>
            <a href="#!" class="text-white">Email</a>
          </li>
          <li>
            <a href="#!" class="text-white">News</a>
          </li>
          <li>
            <a href="#!" class="text-white">Customer Care</a>
          </li>
          <li>
            <a href="#!" class="text-white">BranchKarma Trust</a>
          </li>
        </ul>
      </div>
      <div></div>
      <div class="justify-end float-right text-center">
        <!-- Search input and newsletter form -->
        <p class="mb-3 text-left">Get The Freshest BranchKarma News</p>

        <div class="mb-3">
          <div class="relative mb-4 flex w-96 flex-wrap items-stretch">
            <input
              type="Email"
              class="text-center text-white h-10 relative m-0 -mr-0.5 block w-[1px] min-w-0 flex-auto rounded-l border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-white focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary"
              placeholder="Email"
              aria-label="Email"
              aria-describedby="button-addon3"
            />
            <div
              class="absolute left-2 top-[50%] transform -translate-y-1/2 text-white"
            >
              <i class="uil uil-envelope"></i>
            </div>

            <!--Search button-->
            <button
              class="relative z-[2] rounded-r border-2 border-primary px-6 py-2 text-xs font-medium uppercase text-primary transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
              type="button"
              id="button-addon3"
              data-te-ripple-init
            >
              Subscribe
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright section -->
  <div class="bg-neutral-900 text-left p-2 border-t-2">
    <div>
      Website Terms | Privacy Policy | Accessbility Statement | Do not sell my
      information
    </div>
    <div class="">
      © 2023 Copyright:
      <a class="text-white" href="https://branchkarma-web.vercel.app/"
        >BranchKarma</a
      >
    </div>
  </div>
</footer>
