<div class="text-3xl font-bold text-center text-white mt-6">BranchKarma</div>
<div class="flex justify-center items-center min-h-screen">
  <div class="grid grid-cols-3 gap-4">
    <!-- Card 1 -->
    <div
      class="bg-white rounded-lg shadow-md p-2"
      style="width: 500px; height: 230px"
    >
      <h2 class="font-bold text-xl text-center">Advisory</h2>
      <div class="flex items-center justify-center h-36 w-36 mx-auto">
        <img
          src="../../../assets/image/1 (1).png"
          alt="Image 1"
          class="w-full h-28 rounded-lg mb-4"
        />
      </div>
      <div class="text-center">
        <p class="text-black text-base font-semibold">
          Providing deeper knowledge and strategic insights with our
          multidisciplinary experts.
        </p>
      </div>
    </div>
    <!-- Card 2 -->
    <div
      class="bg-white rounded-lg shadow-md p-2"
      style="width: 500px; height: 230px"
    >
      <h2 class="font-bold text-xl text-center">Backing</h2>
      <div class="flex items-center justify-center h-36 w-36 mx-auto">
        <img
          src="../../../assets/image/1 (2).png"
          alt="Image 1"
          class="w-full h-28 rounded-lg mb-4"
        />
      </div>
      <div class="text-center">
        <p class="text-black text-lg">
          Empowering rapid expansion through the provision of diverse and key
          resources.
        </p>
      </div>
    </div>
    <!-- card 3 -->
    <div
      class="bg-white rounded-lg shadow-md p-2"
      style="width: 500px; height: 230px"
    >
      <h2 class="font-bold text-xl text-center">Decentralistion</h2>
      <div class="flex items-center justify-center h-36 w-36 mx-auto">
        <img
          src="../../../assets/image/1 (3).png"
          alt="Image 1"
          class="w-full h-28 rounded-lg mb-4"
        />
      </div>
      <div class="text-center">
        <p class="text-black text-lg font-semibold">
          Streamlining the process of making and implementing major decisions
          for greater efficiency.
        </p>
      </div>
    </div>
    <!-- card 4 -->
    <div
      class="bg-white rounded-lg shadow-md p-2"
      style="width: 500px; height: 230px"
    >
      <h2 class="font-bold text-xl text-center">Resource pooling</h2>
      <div class="flex items-center justify-center h-36 w-36 mx-auto">
        <img
          src="../../../assets/image/1 (4).png"
          alt="Image 1"
          class="w-full h-28 rounded-lg mb-4"
        />
      </div>
      <div class="text-center">
        <p class="text-black text-base">
          Integrating support facilities to achieve a reduced burn rate.
        </p>
      </div>
    </div>
    <!-- card 5 -->
    <div
      class="bg-white rounded-lg shadow-md p-2"
      style="width: 500px; height: 230px"
    >
      <h2 class="font-bold text-xl text-center">Talent</h2>
      <div class="flex items-center justify-center h-36 w-36 mx-auto">
        <img
          src="../../../assets/image/1 (5).png"
          alt="Image 1"
          class="w-full h-28 rounded-lg mb-4"
        />
      </div>
      <div class="text-center">
        <p class="text-black text-base">
          Applying unparalleled recruitment practices to attract world-class
          talent
        </p>
      </div>
    </div>
    <!-- card 6 -->
    <div
      class="bg-white rounded-lg shadow-md p-2"
      style="width: 500px; height: 230px"
    >
      <h2 class="font-bold text-xl text-center">Data merging</h2>
      <div class="flex items-center justify-center h-36 w-36 mx-auto">
        <img
          src="../../../assets/image/1 (6).png"
          alt="Image 1"
          class="w-full h-28 rounded-lg mb-4"
        />
      </div>
      <div class="text-center">
        <p class="text-black text-base">
          We integrate existing metrics and data sets to boost collaboration.
        </p>
      </div>
    </div>
    <!-- card 7 -->
    <div
      class="bg-white rounded-lg shadow-md p-2"
      style="width: 500px; height: 230px"
    >
      <h2 class="font-bold text-xl text-center">Logisitsic</h2>
      <div class="flex items-center justify-center h-36 w-36 mx-auto">
        <img
          src="../../../assets/image/1 (7).png"
          alt="Image 1"
          class="w-full h-28 rounded-lg mb-4"
        />
      </div>
      <div class="text-center">
        <p class="text-black text-base">
          Easing operations to exisitng channels
        </p>
      </div>
    </div>
    <!-- card 8 -->
    <div
      class="bg-white rounded-lg shadow-md p-2"
      style="width: 500px; height: 230px"
    >
      <h2 class="font-bold text-xl text-center">Research</h2>
      <div class="flex items-center justify-center h-36 w-36 mx-auto">
        <img
          src="../../../assets/image/1 (8).png"
          alt="Image 1"
          class="w-full h-28 rounded-lg mb-4"
        />
      </div>
      <div class="text-center">
        <p class="text-black text-base">
          Advanced market research strategies to achieve better results
        </p>
      </div>
    </div>
    <!-- Card 9 -->
    <div
      class="bg-white rounded-lg shadow-md p-2"
      style="width: 500px; height: 230px"
    >
      <h2 class="font-bold text-xl text-center">Advisory</h2>
      <div class="flex items-center justify-center h-36 w-36 mx-auto">
        <img
          src="../../../assets/image/1 (9).png"
          alt="Image 1"
          class="w-full rounded-lg mb-4 h-28"
        />
      </div>
      <div class="text-center">
        <p class="text-black text-base">
          Providing deeper knowledge and strategic insights with our
          multidisciplinary experts.
        </p>
      </div>
    </div>
  </div>
</div>
