<div class="text-3xl font-bold text-center text-white">BranchKarma</div>

<div class="flex justify-center items-center min-h-screen">
  <div class="grid grid-cols-3 gap-4">
    <!-- Card 1 -->
    <div
      class="bg-white rounded-lg shadow-md p-2"
      style="width: 590px; height: 260px"
    >
      <div class="flex items-center justify-center h-44 w-44 mx-auto">
        <img
          src="../../../assets/image/1 (1).png"
          alt="Image 1"
          class="w-full h-36 rounded-lg mb-4"
        />
      </div>
      <div class="text-center">
        <h2 class="font-bold text-xl">Advisory</h2>
        <p class="text-black text-base">
          Providing deeper knowledge and strategic insights with our
          multidisciplinary experts.
        </p>
      </div>
    </div>
    <!-- Card 2 -->
    <div
      class="bg-white rounded-lg shadow-md p-2"
      style="width: 590px; height: 260px"
    >
      <div class="flex items-center justify-center h-40 w-40 mx-auto">
        <img
          src="../../../assets/image/1 (2).png"
          alt="Image 1"
          class="w-full h-36 rounded-lg mb-4"
        />
      </div>
      <div class="text-center">
        <h2 class="font-bold text-xl">Backing</h2>
        <p class="text-black text-base">
          Empowering rapid expansion through the provision of diverse and key
          resources.
        </p>
      </div>
    </div>
    <!-- card 3 -->
    <div
      class="bg-white rounded-lg shadow-md p-2"
      style="width: 590px; height: 260px"
    >
      <div class="flex items-center justify-center h-44 w-44 mx-auto">
        <img
          src="../../../assets/image/1 (3).png"
          alt="Image 1"
          class="w-full rounded-lg mb-4"
        />
      </div>
      <div class="text-center">
        <h2 class="font-bold text-xl">Decentralistion</h2>
        <p class="text-black text-base">
          Streamlining the process of making and implementing major decisions
          for greater efficiency.
        </p>
      </div>
    </div>
    <!-- card 4 -->
    <div
      class="bg-white rounded-lg shadow-md p-2"
      style="width: 590px; height: 260px"
    >
      <div class="flex items-center justify-center h-44 w-44 mx-auto">
        <img
          src="../../../assets/image/1 (4).png"
          alt="Image 1"
          class="w-full rounded-lg mb-4"
        />
      </div>
      <div class="text-center">
        <h2 class="font-bold text-xl">Resource pooling</h2>
        <p class="text-black text-base">
          Integrating support facilities to achieve a reduced burn rate.
        </p>
      </div>
    </div>
    <!-- card 5 -->
    <div
      class="bg-white rounded-lg shadow-md p-2"
      style="width: 590px; height: 260px"
    >
      <div class="flex items-center justify-center h-44 w-44 mx-auto">
        <img
          src="../../../assets/image/1 (5).png"
          alt="Image 1"
          class="w-full rounded-lg mb-4"
        />
      </div>
      <div class="text-center">
        <h2 class="font-bold text-xl">Talent</h2>
        <p class="text-black text-base">
          Applying unparalleled recruitment practices to attract world-class
          talent
        </p>
      </div>
    </div>
    <!-- card 6 -->
    <div
      class="bg-white rounded-lg shadow-md p-2"
      style="width: 590px; height: 260px"
    >
      <div class="flex items-center justify-center h-44 w-44 mx-auto">
        <img
          src="../../../assets/image/1 (6).png"
          alt="Image 1"
          class="w-full rounded-lg mb-4"
        />
      </div>
      <div class="text-center">
        <h2 class="font-bold text-xl">Data merging</h2>
        <p class="text-black text-base">
          We integrate existing metrics and data sets to boost collaboration.
        </p>
      </div>
    </div>
    <!-- card 7 -->
    <div
      class="bg-white rounded-lg shadow-md p-2"
      style="width: 590px; height: 260px"
    >
      <div class="flex items-center justify-center h-44 w-44 mx-auto">
        <img
          src="../../../assets/image/1 (7).png"
          alt="Image 1"
          class="w-full rounded-lg mb-4"
        />
      </div>
      <div class="text-center">
        <h2 class="font-bold text-xl">Logisitsic</h2>
        <p class="text-black text-base">
          Easing operations to exisitng channels
        </p>
      </div>
    </div>
    <!-- card 8 -->
    <div
      class="bg-white rounded-lg shadow-md p-2"
      style="width: 590px; height: 260px"
    >
      <div class="flex items-center justify-center h-44 w-44 mx-auto">
        <img
          src="../../../assets/image/1 (8).png"
          alt="Image 1"
          class="w-full rounded-lg mb-4"
        />
      </div>
      <div class="text-center">
        <h2 class="font-bold text-xl">Research</h2>
        <p class="text-black text-base">
          Advanced market research strategies to achieve better results
        </p>
      </div>
    </div>
    <!-- Card 9 -->
    <div
      class="bg-white rounded-lg shadow-md p-2"
      style="width: 590px; height: 260px"
    >
      <div class="flex items-center justify-center h-44 w-44 mx-auto">
        <img
          src="../../../assets/image/1 (9).png"
          alt="Image 1"
          class="w-full rounded-lg mb-4"
        />
      </div>
      <div class="text-center">
        <h2 class="font-bold text-xl">Advisory</h2>
        <p class="text-black text-base">
          Providing deeper knowledge and strategic insights with our
          multidisciplinary experts.
        </p>
      </div>
    </div>
  </div>
</div>
