<!-- branch karma start here  -->

<div class="">
    <div class="min-h-screen">
        <app-header></app-header>

    </div>
    <!-- app-infinity-bar start -->

    <!-- app-infinity-bar end -->

    <!-- vision start -->
    <div>
        <app-vision></app-vision>
    </div>
    <!-- vision end -->
    <!-- circle-cards start -->
    <div>
        <app-circle-cards></app-circle-cards>
    </div>
    <!-- circle-cards end -->


    <div class="m-10">
        <img class="rounded-xl w-full" src="../../../assets/image/bridge.png" />
    </div>
    <!-- Our product and services start -->
    <app-our-product-services></app-our-product-services>
    <!-- Our product and services End -->
    <div class="bg-fixed py-12" style="background-image: url(../../../assets/image/main-background.png)">
        <!-- image-inline start -->
        <div>
            <app-image-inline></app-image-inline>
        </div>
        <!-- image-inline end -->
    </div>
    <!-- Work and be yourself start -->
    <div>
        <app-work-and-be-your-self></app-work-and-be-your-self>
    </div>
    <!-- Work and be yourself end -->
    <!-- core value start  -->
    <div>
        <app-core-value></app-core-value>
    </div>
    <!-- core value end  -->

    <!-- branch karma end here  -->

    <!-- square cards start-->
    <!-- <app-square-cards></app-square-cards> -->
    <!-- square cards end-->
    <!-- footer start  -->
    <div class="bg-fixed py-20" style="background-image: url(../../../assets/image/main-background.png)"></div>
    <div class="m-[3%]">
        <app-enquiry></app-enquiry>
    </div>
    <app-footer></app-footer>
    <!-- footer End -->
</div>