<form>
  <div class="mb-6">
    <label
      for="name"
      class="block mb-2 text-sm font-medium text-white dark:text-white"
      >Name*
    </label>
    <input
      type="text"
      id="name"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="name@flowbite.com"
      required
    />
  </div>
  <div class="mb-6">
    <label
      for="email"
      class="block mb-2 text-sm font-medium text-white dark:text-white"
      >Your email*
    </label>
    <input
      type="email"
      id="email"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="name@gmail.com"
      required
    />
  </div>
  <div class="mb-6">
    <label
      for="phoneNumber"
      class="block mb-2 text-sm font-medium text-white dark:text-white"
    >
      Phone*</label
    >
    <input
      type="number"
      id="phoneNumber"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      required
    />
  </div>
  <div class="mb-6">
    <label
      for="howDidYouHearAboutUs"
      class="block mb-2 text-sm font-medium text-white dark:text-white"
      >How did you hear about us?
    </label>
    <input
      type="text"
      id="howDidYouHearAboutUs"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder=""
      required
    />
  </div>
  <div class="mb-6">
    <label
      for="TellUsaBriefAboutYourProject"
      class="block mb-2 text-sm font-medium text-white dark:text-white"
      >Tell us a brief about your project
    </label>
    <input
      type="text"
      id="TellUsaBriefAboutYourProject"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder=""
      required
    />
  </div>
  <div class="mb-6">
    <label
      for="websiteLink"
      class="block mb-2 text-sm font-medium text-white dark:text-white"
      >Website Link
    </label>
    <input
      type="text"
      id="websiteLink"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder=""
      required
    />
  </div>
  <div class="mb-6">
    <label
      for="linkedin"
      class="block mb-2 text-sm font-medium text-white dark:text-white"
      >Linkedin
    </label>
    <input
      type="text"
      id="linkedin"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder=""
      required
    />
  </div>
  <div class="mb-6">
    <label
      for="whatInteserestYouInWorkingForBranchKarma"
      class="block mb-2 text-sm font-medium text-white dark:text-white"
      >What inteserest you in working for Branch Karma?
    </label>
    <input
      type="text"
      id="whatInteserestYouInWorkingForBranchKarma"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder=""
      required
    />
  </div>
  <div class="mb-6">
    <label
      for="whatIndustryMostCloselyFitsYourCompany"
      class="block mb-2 text-sm font-medium text-white dark:text-white"
      >What industry most closely fits your company?
    </label>
    <input
      type="text"
      id="whatIndustryMostCloselyFitsYourCompany"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder=""
      required
    />
  </div>
  <div class="mb-6">
    <label
      for="relevantDocument"
      class="block mb-2 text-sm font-medium text-white dark:text-white"
      >Share a link to your pitch deck or any other relevant document
    </label>
    <input
      type="text"
      id="relevantDocument"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder=""
      required
    />
  </div>
  <div class="mb-6">
    <label
      for="WhatCountryAreYouBasedIn"
      class="block mb-2 text-sm font-medium text-white dark:text-white"
      >What country are you based in?
    </label>
    <input
      type="text"
      id="WhatCountryAreYouBasedIn"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder=""
      required
    />
  </div>
  <div class="mb-6">
    <label
      for="message"
      class="block mb-2 text-sm font-medium text-white dark:text-white"
      >Your message</label
    >
    <textarea
      id="message"
      rows="4"
      class="block p-2.5 w-full text-sm text-black bg-text-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Leave a comment..."
    ></textarea>
  </div>
  <div class="mb-6">
    <div class="mt-4">
      <label for="fileInput" class="block text-sm font-medium text-white mb-3">
        Upload a File
      </label>
      <div class="mt-1 flex items-center space-x-4">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700"
        >
          Choose a file
        </span>
        <input type="file" id="fileInput" name="fileInput" class="sr-only" />
        <label
          for="fileInput"
          class="cursor-pointer font-medium text-white hover:text-text-white"
        >
          Browse
        </label>
      </div>
    </div>
  </div>

  <!-- <div class="flex items-start mb-6">
    <div class="flex items-center h-5">
      <input
        id="remember"
        type="checkbox"
        value=""
        class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
        required
      />
    </div>
    <label
      for="remember"
      class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
      >Remember me</label
    >
  </div> -->
  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Submit
  </button>
</form>
