/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundImage {
  background-image: url("./assets/image/main-background.png");
}
.particles-js-canvas-el {
  position: absolute;
  top: 0;
}
