<div class="container mx-auto py-10">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
    <!-- Left column for text -->
    <div class="md:pr-10">
      <h2 class="text-6xl mt-40 font-bold text-white mb-16">
        Helping those who help the world.
      </h2>

      <h1 class="text-white text-4xl mb-16">
        Providing rapid expansion for visionary organization.
      </h1>
      <p class="text-white text-2xl">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod
        eleifend arcu, vitae euismod mauris bibendum quis. Curabitur ullamcorper
        a purus eget bibendum. Fusce eget risus vel ligula interdum auctor.
      </p>
      <div class="grid grid-cols-3 my-[30px] gap-3">
        <div class="bg-black">
          <div
            class="p-10 text-white w-26 h-26 md:w-52 md:h-52 text-center border-1 border-collapse shadow-gray-200 rounded-xl shadow-2xl"
          >
            <div class="text-3xl md:text-6xl text-center">
              <img
                src="../../../assets/image/Enterprise icon.png"
                alt="Image 1"
                class="h-28 w-28"
              />
            </div>
            <div class="text-2xl">Enterprises</div>
          </div>
        </div>
        <div class="bg-black text-white">
          <div
            class="p-10 text-white w-26 h-26 md:w-52 md:h-52 text-center border-1 border-collapse shadow-gray-200 rounded-xl shadow-2xl"
          >
            <div class="text-3xl md:text-6xl text-center">
              <img
                src="../../../assets/image/startup icon.png"
                alt="Image 1"
                class="h-32 w-28"
              />
            </div>
            <div class="text-2xl">Startups</div>
          </div>
        </div>
        <div class="bg-black text-white">
          <div
            class="p-10 text-white w-26 h-26 md:w-52 md:h-52 text-center border-1 border-collapse shadow-gray-200 rounded-xl shadow-2xl"
          >
            <div class="text-3xl md:text-6xl text-center">
              <img
                src="../../../assets/image/partner projects icon.png"
                alt="Image 1"
                class="h-24 w-26"
              />
            </div>
            <div class="text-2xl">Partner Projects</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right column for image -->
    <div>
      <img
        src="../../../assets/image/Building.jpg"
        alt="Image Alt Text"
        class="w-full h-[860px] rounded-lg"
      />
    </div>
  </div>
</div>
