<div class="container mx-auto py-10">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
    <!-- Left column for text -->
    <div class="md:pr-10 text-left">
      <h2 class="text-4xl mt-40 font-bold mb-4 text-white">
        Helping those who help the world.
      </h2>

      <h1 class="text-white text-2xl">
        Provide rapid exansion for visionary entrepreuners.
      </h1>
      <p class="text-gray-700 mt-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod
        eleifend arcu, vitae euismod mauris bibendum quis. Curabitur ullamcorper
        a purus eget bibendum. Fusce eget risus vel ligula interdum auctor.
      </p>
    </div>

    <!-- Right column for image -->
    <div>
      <img
        src="../../../assets/image/Building.jpg"
        alt="Image Alt Text"
        class="w-full rounded-lg"
      />
    </div>
  </div>
</div>
