<div class="container mx-auto py-10">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
    <!-- Left column for text -->
    <div class="">
      <h2
        class="text-4xl md:text-6xl mt-10 md:mt-20 font-bold text-white mb-6 md:mb-12"
      >
        Helping those who help the world.
      </h2>

      <h1 class="text-white text-2xl md:text-4xl mb-6 md:mb-12">
        Providing rapid expansion for visionary organization.
      </h1>
      <p class="text-white text-xl md:text-2xl">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod
        eleifend arcu, vitae euismod mauris bibendum quis. Curabitur ullamcorper
        a purus eget bibendum. Fusce eget risus vel ligula interdum auctor.
      </p>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-3 my-8 md:my-[30px]">
        <div class="bg-black">
          <div
            class="p-6 md:p-10 text-white w-full h-[200px] md:h-[250px] text-center border-1 border-collapse shadow-gray-200 rounded-xl shadow-2xl"
          >
            <div class="text-2xl md:text-3xl text-center">
              <img
                src="../../../assets/image/Enterprise icon.png new.png"
                alt="Image 1"
                class="h-16 md:h-36 w-auto m-auto"
              />
            </div>
            <div class="text-xl md:text-2xl pt-2 md:pt-3 mt-3">Enterprises</div>
          </div>
        </div>
        <div class="bg-black text-white">
          <div
            class="p-6 md:p-10 text-white w-full h-[200px] md:h-[250px] text-center border-1 border-collapse shadow-gray-200 rounded-xl shadow-2xl"
          >
            <div class="text-2xl md:text-3xl text-center">
              <img
                class="h-20 md:h-40 w-auto m-auto"
                src="../../../assets/image/startup icon.png new.png"
                alt="Image 2"
              />
            </div>
            <div class="text-xl md:text-2xl pt-2">Startups</div>
          </div>
        </div>
        <div class="bg-black text-white">
          <div
            class="p-6 md:p-10 text-white w-full h-[200px] md:h-[250px] text-center border-1 border-collapse shadow-gray-200 rounded-xl shadow-2xl"
          >
            <div class="text-2xl md:text-3xl text-center">
              <img
                src="../../../assets/image/partner projects icon.png"
                alt="Image 3"
                class="h-16 md:h-32 w-auto m-auto"
              />
            </div>
            <div class="text-xl md:text-2xl pt-2">Partner Projects</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right column for image -->
    <div>
      <img
        src="../../../assets/image/Building.jpg"
        alt="Image Alt Text"
        class="w-full h-[300px] md:h-[860px] rounded-lg"
      />
    </div>
  </div>
</div>
