<div class="text-white bg-contain bgOpacity">
    <div class="grid grid-cols-12 gap-4 mx-[10%] mt-[80px] whoBox">
        <div class="col-span-12 md:col-span-7">
            <h1 class="text-md md:text-xl lg:text-3xl xl:text-4xl 2xl:5xl font-bold uppercase pb-3">
                Who We Are
            </h1>
            <p class="py-4">
                We believe in planting the seeds of innovation and cultivating progress. Our mission is to foster an
                ecosystem that encourages creativity, ingenuity, and cutting-edge solutions. Through strategic
                partnerships
                and forward-thinking initiatives, we strive to grow a future that surpasses current limitations,
                enriching
                lives and advancing society as a whole. To request more information, request more information and get to
                know more about us. Please get in touch.
            </p>
        </div>
        <!-- <div class="col-span-12 md:col-span-5">
            <h2 class="bkbg">BK</h2>
        </div> -->
    </div>
    <div class="grid grid-cols-12 gap-4 mx-[10%] whoBox">
        <div class="col-span-12 md:col-span-7">
            <h1 class="text-md md:text-xl lg:text-3xl xl:text-4xl 2xl:5xl font-bold uppercase pb-3">
                BENEFITS
            </h1>
            <p class="py-4">
                We pay for any learning material such as books, courses, and extended education.<br>
                Work and connect globally. You can work from anywhere including your home or at one of our global
                offices. <br>
                Our 24/7 operations in multiple time zones allow you to have your preferred schedule. <br>
                Existing team members get priorities for new projects and growth opportunities. <br>
                Insurance, stock options, and retirement planning. Making sure you are covered with wellness that
                extends beyond. <br>
                We have active team building activities to integrate trust and leadership. <br>
                We all need a break sometimes. <br>
            </p>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-4 mx-[10%] whoBox">
        <div class="col-span-12 md:col-span-7">
            <h1 class="text-md md:text-xl lg:text-3xl xl:text-4xl 2xl:5xl font-bold uppercase pb-3">
                VALUES
            </h1>
            <p class="py-4">
                Open communication for criticism and feedback <br>
                Being a team player<br>
                Absolute passion for what your role and skill <br>
            </p>
        </div>
    </div>
    <div class="pb-20 mx-[10%] whoBox">
        <div class="container">
            <!-- <h2 class="textshadow mb-20">Timeline</h2> -->
            <h1 class="text-md md:text-xl lg:text-3xl xl:text-4xl 2xl:5xl font-bold uppercase pb-6">
                Timeline
            </h1>
            <ol class="relative border-s border-gray-200 dark:border-gray-700 bg-gray-900 p-10">
                <li class="mb-10 ms-6 ml-[40px]">
                    <span
                        class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                        </svg>
                    </span>
                    <h3 class="mb-1 text-xl font-semibold text-gray-300 dark:text-white">
                        Apply
                    </h3>
                    <time
                        class="block mb-2 text-sm font-bold underline leading-none text-gray-400 dark:text-gray-500 italic">Stage
                        One</time>
                    <p
                        class="mb-4 text-base font-normal text-gray-400 dark:text-gray-400 animate__animated animate__slideInRight animate__faster">
                        Submit your application and all supporting information. If your application is approved we will
                        reach out to you to book an appointment for the first round of interviews.
                    </p>
                </li>
                <li class="mb-10 ms-6 ml-[40px]">
                    <span
                        class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                        </svg>
                    </span>
                    <h3 class="mb-1 text-xl font-semibold text-gray-300 dark:text-white">1st interview</h3>
                    <time
                        class="block mb-2 text-sm font-bold underline leading-none text-gray-400 dark:text-gray-500 italic">Stage
                        Two</time>
                    <p
                        class="text-base font-normal text-gray-400 dark:text-gray-400 animate__animated animate__slideInRight animate__faster">
                        This is the initial interview. It is recorded for senior team members to review and assess
                        whether you are a good match for the organization.
                    </p>
                </li>
                <li class="mb-10 ms-6 ml-[40px]">
                    <span
                        class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                        </svg>
                    </span>
                    <h3 class="mb-1 text-xl font-semibold text-gray-300 dark:text-white">2nd interview</h3>
                    <time
                        class="block mb-2 text-sm font-bold underline leading-none text-gray-400 dark:text-gray-500 italic">Stage
                        Three</time>
                    <p
                        class="text-base font-normal text-gray-400 dark:text-gray-400 animate__animated animate__slideInRight animate__fast">
                        a Senior HR representative and team leader will be on this interview to ask specific follow up
                        and technical questions to get to know you and get a deeper understanding of your skillset.
                    </p>
                </li>
                <li class="mb-10 ms-6 ml-[40px]">
                    <span
                        class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                        </svg>
                    </span>
                    <h3 class="mb-1 text-xl font-semibold text-gray-300 dark:text-white">Terms</h3>
                    <time
                        class="block mb-2 text-sm font-bold underline leading-none text-gray-400 dark:text-gray-500 italic">Stage
                        Four</time>
                    <p
                        class="text-base font-normal text-gray-400 dark:text-gray-400 animate__animated animate__slideInRight animate__fast">
                        Here, to make sure we are all on the same page we go over the terms, agreements, and clarify
                        expectations.
                    </p>
                </li>
                <li class="mb-10 ms-6 ml-[40px]">
                    <span
                        class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                        </svg>
                    </span>
                    <h3 class="mb-1 text-xl font-semibold text-gray-300 dark:text-white">Onboarding </h3>
                    <time
                        class="block mb-2 text-sm font-bold underline leading-none text-gray-400 dark:text-gray-500 italic">Stage
                        Five</time>
                    <p
                        class="text-base font-normal text-gray-400 dark:text-gray-400 animate__animated animate__slideInRight animate__delay-1s">
                        Hooray! Let’s get started. An onboarding advisor will be with you till you are all settled in.
                    </p>
                </li>
            </ol>


        </div>
    </div>

    <!-- <div class="mt-0 pb-20 mx-[10%] whoBox">
        <div class="mb-10">
            <h2 class="textshadow">BENEFITS</h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 gap-6">
            <div class="border border-1 p-6 rounded-tr-3xl rounded-bl-3xl shadow-md shadow-white bg-gray-900">
                <h2 class="text-3xl lg:text-2xl xl:text-3xl font-semibold">Unlimited Growth</h2>
                <p class="text-left pt-4">
                    We pay for any learning material such as books, courses, and extended education
                </p>
            </div>
            <div class="border border-1 p-6 rounded-tr-3xl rounded-bl-3xl shadow-md shadow-white bg-gray-900">
                <h2 class="text-3xl lg:text-2xl xl:text-3xl font-semibold">Virtual network
                </h2>
                <p class="text-left pt-4">
                    Work and connect globally. You can work from anywhere including your home or at one of our global
                    offices.

                </p>
            </div>
            <div class="border border-1 p-6 rounded-tr-3xl rounded-bl-3xl shadow-md shadow-white bg-gray-900">
                <h2 class="text-3xl lg:text-2xl xl:text-3xl font-semibold">24 hours flexibility </h2>
                <p class="text-left pt-4">
                    Our 24/7 operations in multiple time zones allow you to have your preferred schedule
                </p>
            </div>
            <div class="border border-1 p-6 rounded-tr-3xl rounded-bl-3xl shadow-md shadow-white bg-gray-900">
                <h2 class="text-3xl lg:text-2xl xl:text-3xl font-semibold">Internal Promotions</h2>
                <p class="text-left pt-4">
                    Existing team members get priorities for new projects and growth opportunities.
                </p>
            </div>
            <div class="border border-1 p-6 rounded-tr-3xl rounded-bl-3xl shadow-md shadow-white bg-gray-900">
                <h2 class="text-3xl lg:text-2xl xl:text-3xl font-semibold">Benefits </h2>
                <p class="text-left pt-4">
                    Insurance, stock options, and retirement planning. Making sure you are covered with wellness that
                    extends beyond.
                </p>
            </div>
            <div class="border border-1 p-6 rounded-tr-3xl rounded-bl-3xl shadow-md shadow-white bg-gray-900">
                <h2 class="text-3xl lg:text-2xl xl:text-3xl font-semibold">Culture </h2>
                <p class="text-left pt-4">
                    We have active team building activities to integrate trust and leadership
                </p>
            </div>
            <div class="border border-1 p-6 rounded-tr-3xl rounded-bl-3xl shadow-md shadow-white bg-gray-900">
                <h2 class="text-3xl lg:text-2xl xl:text-3xl font-semibold">Paid time off</h2>
                <p class="text-left pt-4">
                    We all need a break sometimes.
                </p>
            </div>
        </div>
    </div>

    <div class="mt-20 pb-20 mx-[10%] whoBox">
        <div class="mb-10">
            <h2 class="textshadow">VALUES</h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 2xl:grid-cols-1 gap-6">
            <div class="border border-1 p-6 rounded shadow-md shadow-white bg-gray-900 mx-[15%]">
                <h2 class="text-3xl lg:text-2xl xl:text-3xl font-semibold">Radical Transparency</h2>
                <p class="text-left pt-4">
                    Open communication for criticism and feedback
                </p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 inline float-right mt-[-45px]">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m21 7.5-2.25-1.313M21 7.5v2.25m0-2.25-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3 2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75 2.25-1.313M12 21.75V19.5m0 2.25-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25" />
                </svg>

            </div>
            <div class="border border-1 p-6 rounded shadow-md shadow-white bg-gray-900 mx-[10%]">
                <h2 class="text-3xl lg:text-2xl xl:text-3xl font-semibold">Collaborate
                </h2>
                <p class="text-left pt-4">
                    Being a team player
                </p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 inline float-right mt-[-45px]">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75a.75.75 0 0 1 .75-.75 2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282m0 0h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 0 1-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.96a8.958 8.958 0 0 0-1.302 4.665c0 1.194.232 2.333.654 3.375Z" />
                </svg>

            </div>
            <div class="border border-1 p-6 rounded shadow-md shadow-white bg-gray-900">
                <h2 class="text-3xl lg:text-2xl xl:text-3xl font-semibold">Obsession</h2>
                <p class="text-left pt-4">
                    Absolute passion for what your role and skill
                </p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 inline float-right mt-[-45px]">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
                </svg>

            </div>
        </div>
    </div> -->

    <div class="mt-0 pb-20 mx-[10%] whoBox">
        <div class="mb-10">
            <!-- <h2 class="textshadow">POLICY</h2> -->
            <h1 class="text-md md:text-xl lg:text-3xl xl:text-4xl 2xl:5xl font-bold uppercase pb-3">
                POLICY
            </h1>
        </div>
        <div class="">
            <div class="">
                <p class="text-left pt-0">
                    At Branch Karma, we are proud to offer a wide range of benefits programs and resources to support
                    our
                    employees. We focus on overall work-life harmony to ensure our teammates live healthy and functional
                    lives on and off work. We offer flexible choices so our teammates can benefit with programs that
                    best fit their personal and family needs.

                </p>
                <p class="text-left pt-8">
                    It is the policy of Branch Karma to treat all employees and applicants fairly and to base all
                    personnel decisions on individual qualifications and performance. Branch karma is an equal
                    opportunity employer. Branch Karma prohibits discrimination against any employee or applicant for
                    employment on the basis of an individual’s race, color, religion, sex, pregnancy (which includes
                    pregnancy, childbirth and medical conditions related to pregnancy, childbirth or breastfeeding),
                    age, national origin, gender identity/gender expression, sexual orientation, physical or mental
                    disability, medical condition, genetic information, ancestry, citizenship status, marital status,
                    covered military or veteran status or any other legally protected status. This prohibition
                    encompasses recruitment, hiring, promotion, demotion, transfer, layoff, termination, compensation,
                    and training. In addition, it is the policy of Branch karma that all employees enjoy a work
                    environment free from all forms of unlawful harassment. Conduct contrary to this policy is strictly
                    prohibited and will result in disciplinary action up to and including termination of employment.

                </p>
                <p class="text-left pt-8">
                    If any Branch karma employee encounters conduct that is inconsistent with Branch karma’s equal
                    employment opportunity policy, such employee should promptly advise a Managing Director or a Human
                    Resources representative. All claims of discrimination will be promptly investigated, and if it is
                    determined that a violation of this policy has taken place; appropriate corrective action will be
                    taken. Such action may include disciplinary action ranging from a reprimand to termination of
                    employment. Any person who knowingly makes a false claim of discrimination shall also be subject to
                    appropriate disciplinary action.

                </p>
            </div>
        </div>
    </div>



    <div class="py-20">

    </div>

</div>