<nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-back-500 mb-3">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
      <a class="text-4xl font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap text-white cursor-pointer"
        [routerLink]="'/'">
        BranchKarma
      </a>
      <button
        class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button" (click)="toggleNavbar()">
        <i class="uil uil-bars"></i>
      </button>
    </div>
    <div [ngClass]="{ hidden: !showMenu, flex: showMenu }" class="lg:flex lg:flex-grow items-center">
      <ul class="flex flex-col lg:flex-row list-none ml-auto">
        <li class="nav-item">
          <a class="px-2 py-2 flex items-center text-md font-semibold leading-snug text-white cursor-pointer hover:font-bold"
            [routerLink]="'firms'">
            <i class="fab fa-facebook-square text-lg leading-lg text-white opacity-75"></i><span
              class="ml-2">Firm</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="px-2 py-2 flex items-center text-md font-semibold leading-snug text-white cursor-pointer hover:font-bold"
            [routerLink]="'vision'">
            <i class="fab fa-facebook-square text-lg leading-lg text-white opacity-75"></i><span
              class="ml-2">Vision</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="px-2 py-2 flex items-center text-md font-semibold leading-snug text-white cursor-pointer hover:font-bold"
            [routerLink]="'entrepreneurs'">
            <i class="fab fa-facebook-square text-lg leading-lg text-white opacity-75"></i><span
              class="ml-2">Entrepreneurs</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="px-2 py-2 flex items-center text-md font-semibold leading-snug text-white cursor-pointer hover:font-bold"
            [routerLink]="'teams'">
            <i class="fab fa-facebook-square text-lg leading-lg text-white opacity-75"></i><span
              class="ml-2">Teams</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="px-2 py-2 flex items-center text-md font-semibold leading-snug text-white cursor-pointer hover:font-bold"
            [routerLink]="'contact-us'">
            <i class="fab fa-pinterest text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Contact</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="px-2 py-2 flex items-center text-md font-semibold leading-snug text-white cursor-pointer hover:font-bold"
            [routerLink]="'portal'">
            <i class="fab fa-pinterest text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Portal</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="px-2 py-2 flex items-center text-md font-semibold leading-snug text-white cursor-pointer hover:font-bold"
            [routerLink]="'news'">
            <i class="fab fa-facebook-square text-lg leading-lg text-white opacity-75"></i><span
              class="ml-2">News</span>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="px-2 py-2 flex items-center text-md font-semibold leading-snug text-white cursor-pointer hover:font-bold"
            [routerLink]="'about-us'">
            <i class="fab fa-pinterest text-lg leading-lg text-white opacity-75"></i><span class="ml-2">About Us</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="px-2 py-2 flex items-center text-md font-semibold leading-snug text-white cursor-pointer hover:font-bold"
            [routerLink]="'careers'">
            <i class="fab fa-twitter text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Careers</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="px-2 py-2 flex items-center text-md font-semibold leading-snug text-white cursor-pointer hover:font-bold"
            [routerLink]="'login'">
            <i class="fab fa-pinterest text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Login</span>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>