<div class="learn-with-us mb-5 m-5">
  <!-- <hr
    class="mb-6"
    style="background-color: #54c8e8; padding: 0.5px; width: 150px"
  /> -->
  <h2 class="h2 text-center text-white text-3xl font-bold">Work with us</h2>
  <div class="grid md:grid-cols-4 gap-1">
    <div class="bg-black text-center text-white p-4 md:p-10">
      <div class="text-3xl md:text-6xl mb-2 md:mb-5">
        <i class="uil uil-lightbulb-alt"></i>
      </div>
      <div>LEAN INNOVATION</div>
    </div>
    <div class="bg-black text-center text-white p-4 md:p-10">
      <div class="text-3xl md:text-6xl mb-2 md:mb-5">
        <i class="uil uil-wall"></i>
      </div>
      <div>BRAND BUILDING</div>
    </div>
    <div class="bg-black text-center text-white p-4 md:p-10">
      <div class="text-3xl md:text-6xl mb-2 md:mb-5">
        <i class="uil uil-truck"></i>
      </div>
      <div>SUPPLY CHAIN</div>
    </div>
    <div class="bg-black text-center text-white p-4 md:p-10">
      <div class="text-3xl md:text-6xl mb-2 md:mb-5">
        <i class="uil uil-graph-bar"></i>
      </div>
      <div>DIGITIZATION & DATA ANALYTICS</div>
    </div>
  </div>
</div>
