<div class="min-h-screen text-white">
    <div id="circle-shape-example" class="animate__animated animate__slideInUp">
        <img src="../../../assets/image/mar.png" alt="Marse" class="curve">
        <h1 class="text-md md:text-xl lg:text-3xl xl:text-4xl 2xl:5xl font-bold uppercase pb-3">
            Partnership, Collaboration, United Growth
        </h1>
        <p class="py-4">Communicating, traveling, and research are just a few examples of advancements seamlessly
            integrated into
            our world today. With the help of entrepreneurs and visionaries that lead developments in society, the world
            is far more enhanced than any other time in history. We aim to aid in the progress.</p>
        <h1 class="text-md md:text-xl lg:text-3xl xl:text-4xl 2xl:5xl font-bold uppercase pt-10 pb-3">
            From Mumbai to Mars</h1>
        <p class="py-4">Our vision statement across our company is Mumbai to Mars. We started in Mumbai and we hope that
            technology and innovation led by entrepreneurs allows us to extend our reach and have the ability to do what
            is completely impossible today. Similar to thriving beyond Earth and potentially on another planet. What is
            impossible today will be a smooth connection in the future. Our goal is to grow with organizations that
            imagine a healthier, safer, and more connected universe.
        </p>
    </div>
</div>