<div class="text-white min-h-[100vh]">
    <!-- <h2 class="textshadow mb-20">INVESTOR</h2> -->

    <div class="grid grid-cols-12 mt-20 mx-[10%]">
        <div class="col-span-12 md:col-span-6 pr-20">
            <p class="textshadow2 mt-20">Your company is the next</p><br><br><br>
            <button [routerLink]="'/contact-us'" class="bg-white px-6 py-3 rounded-md m-1 text-black">Fill A
                Form</button>
            <button [routerLink]="'/contact-us'"
                class="bg-white px-6 py-3 rounded-md m-1 text-black float-right">Contact
                Us</button>
        </div>
        <div class="col-span-12 md:col-span-6">
            <img src="../../../assets/image/pointing2.png" alt="" width="80%">
        </div>
    </div>
</div>